fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
alembic
requests
pydantic
python-multipart
psutil
torch==2.3.0+cu121
--extra-index-url 
https://download.pytorch.org/whl/cu121
